JWT_SECRET=sua_chave_secreta_muito_longa_aqui

AUTH_APP_KEY=base64:chave_aqui
APP_URL=http://localhost

ALERTS_APP_KEY=base64:chave_aqui
RESEND_API_KEY=re_xxxxxxxxxxxx
ALERT_COOLDOWN_TTL=3600

RABBITMQ_USER=admin
RABBITMQ_PASSWORD=senha_aqui

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=seu_user_mailtrap
MAIL_PASSWORD=sua_senha_mailtrap

POSTGRES_USER_PRODUCT=postgres
POSTGRES_PASSWORD_PRODUCT=secret

POSTGRES_USER_INVENTORY=postgres
POSTGRES_PASSWORD_INVENTORY=secret

REDIS_PASSWORD_INVENTORY=admin
