# RabbitMQ
RABBITMQ_USER="admin"
RABBITMQ_PASSWORD="admin"

# Auth Service

## PostgreSQL
POSTGRES_DB_AUTH="auth"
POSTGRES_USER_AUTH="postgres"
POSTGRES_PASSWORD_AUTH="admin"

# Order Service

## PostgreSQL
POSTGRES_DB_ORDER="order"
POSTGRES_USER_ORDER="postgres"
POSTGRES_PASSWORD_ORDER="admin"

# Payment Service

## PostgreSQL
POSTGRES_DB_PAYMENT="payment"
POSTGRES_USER_PAYMENT="postgres"
POSTGRES_PASSWORD_PAYMENT="admin"

# Inventory Service

## PostgreSQL
POSTGRES_DB_INVENTORY="inventory"
POSTGRES_USER_INVENTORY="postgres"
POSTGRES_PASSWORD_INVENTORY="admin"

## Redis
REDIS_PASSWORD_INVENTORY="admin"
