APP_NAME=Lumen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

SWAGGER_ENABLED=true
APP_TIMEZONE=UTC

LOG_CHANNEL=stderr
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=pgsql
DB_HOST=db-payment
DB_PORT=5432
DB_DATABASE=payment
DB_USERNAME=postgres
DB_PASSWORD=admin

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

PROMETHEUS_STORAGE=apcu

## Redis
REDIS_PASSWORD="admin"
REDIS_HOST=redis
REDIS_PORT=6379
