<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <file>./app/Interfaces/Http/Controller/MetricsController.php</file>
            <file>./app/Interfaces/Http/Middleware/PrometheusMetricsMiddleware.php</file>
            <file>./app/Infrastructure/Service/PrometheusService.php</file>
            <file>./app/Providers/PrometheusServiceProvider.php</file>
        </exclude>
    </source>

    <testsuites>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
    </php>
</phpunit>

