# App
ENVIRONMENT="DEVELOPMENT" # DEVELOPMENT | TEST | PRODUCTION
PORT=3000

# Database
DATABASE_URL="postgres://postgres:admin@db-inventory:5432/inventory"

# Redis
REDIS_HOST="inventory-service.cache"
REDIS_PASSWORD="admin"
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_URL="amqp://admin:admin@rabbitmq:5672"
