# App
ENVIRONMENT="DEVELOPMENT" # DEVELOPMENT | TEST | PRODUCTION
PORT=3000

# Database
DATABASE_URL="postgres://USER:PASS@HOST:POST/DATABASE"

# Redis
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# RabbitMQ
RABBITMQ_URL=
RABBITMQ_PASSWORD=
