# App
ENVIRONMENT="DEVELOPMENT" # DEVELOPMENT | TEST | PRODUCTION
PORT=3000

# Database
DATABASE_URL="postgres://USER:PASS@HOST:POST/DATABASE"

# Redis
REDIS_HOST="admin"
REDIS_PORT=6379
REDIS_PASSWORD="admin"

# RabbitMQ
RABBITMQ_URL=
